chromedriver-win64/
chrome-win64/
*.dll
*.zip

log/
venv/
.venv/
.clean_env/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

screenshots/
*.log

playwright-report/
test-results/

.vscode/
.idea/

.pyc
*.pyc

.DS_Store
mcp-remote/

outputs_*